asciinema==2.3.0
certifi==2023.7.22
charset-normalizer==3.3.1
docopt==0.6.2
flake8==6.1.0
hexlet-code @ file:///Users/ivan/hexlet%20development/python-project-49/dist/hexlet_code-0.1.0-py3-none-any.whl#sha256=64e160f7c776a2f7d45d4c90dd9ebdf3ab75a0a4bfedf493e6eabe7f4d63e41a
idna==3.4
mccabe==0.7.0
pipreqs==0.4.13
prompt==0.4.1
pycodestyle==2.11.1
pyflakes==3.1.0
requests==2.31.0
urllib3==2.0.7
yarg==0.1.9
